<h1>Review Details</h1>

<strong>Rating:</strong> <%= @review.rating %><br>
<strong>Comment:</strong> <%= @review.comment %><br>
<strong>User:</strong> <%= @review.user.name %> <!-- Assuming you have a 'name' attribute in your User model -->
